<p>Welcome back, <%= user.firstName %></p>
<h1>Dashboard</h1>

<div><a href="http://localhost:1337/company/update">Change profile information</div>
<div><a href="http://localhost:1337/companies/<%= company.handle %>">View my profile</a></div>
<div><a href="http://localhost:1337/user/update">Change Password</a></div>
<div><a href="http://localhost:1337/logout">Logout</a></div>

<section id="userData">
  <ul>
    <li>Name: <%= user.firstName + ' ' + user.lastName %></li>
    <li>Job Title: NOT FINISHED</li>
    <li>Member Since: <%= user.createdAt %></li>
    <li>Photo: NOT FINISHED</li>
    <li>Company: <%= company.name %></li>
    <li>About EA:</li>
    <li>Checklists: NOT FINISHED</li>
  </ul>
</section>

<section id="buyerChecklist">
  <% if(company.website){%> <li><strike>Add your company website</strike></li> <%}else{%> <li>Add your company website</li> <%}%>
  <% if(user.jobTitle){%> <li><strike>Add your job title</strike></li> <%}else{%> <li>Add your job title</li> <%}%>
  <% if(user.photo){%> <li><strike>Add your photo</strike></li> <%}else{%> <li>Add your photo</li> <%}%>
  <% if(company.logo){%> <li><strike>Add your company logo</strike></li> <%}else{%> <li>Add your company logo</li> <%}%>
  <% if(company.description){%> <li><strike>Add your company description</strike></li> <%}else{%> <li>Add your company description</li> <%}%>
  <% if(company.website){%> <li><strike>Add your company website</strike></li> <%}else{%> <li>Add your company website</li> <%}%>

  <% if(user.activeMode == 'buyer') { %>
    <% if(buyer) { %>
      <% if(buyer.responsibilityStatement){%> <li><strike>Add your SoR</strike></li> <%}else{%> <li>Add your SoR</li> <%}%>
      <% if(buyer.preferredSupplierType){%> <li><strike>Add your preferred supplier type</strike></li> <%}else{%> <li>Add your preferred supplier type</li> <%}%>
      <% if(buyer.productsOfInterest){%> <li><strike>Add your products of interest</strike></li> <%}else{%> <li>Add your products of interest</li> <%}%>
    <% }
  }
  else if(user.activeMode == 'supplier') { %>
    <% if(supplier) { %>
      <% if(supplier.preferredBuyerType){%> <li><strike>Add your PBT</strike></li> <%}else{%> <li>Add your PBT</li> <%}%>
    <% } %>

  <% } %>


</section>

<% if((company.buyer == true) && (company.supplier == true)) { %>
<section id="modeToggle">
  <h4>Toggle View</h4>
  <form action="http://localhost:1337/togglemode" method="post">
    <select name="mode">
      <option value="buyer">Buyer</option>
      <option value="supplier">Supplier</option>
    </select>
    <input type="submit">
  </form>
</section>
<% } %>
